{% extends 'base.html.twig' %}

{% block title %}BASE Things - Index
{% endblock %}

{% block body %}
	<div class="index_menu">
		<div class="menu_wrapper">

			<a class="jump_book" href="#">
				<div class="title_menu_wrapper">
					<p>Jump book</p>
				</div>
			</a>

			<a class="exits" href="#">
				<div class="title_menu_wrapper">
					<p>Exits</p>
				</div>
			</a>

			<a class="informations" href="#">
				<div class="title_menu_wrapper">
					<p>Informations</p>
				</div>
			</a>

			<a class="tuto" href="#">
				<div class="title_menu_wrapper">
					<p>Tutorials</p>
				</div>
			</a>

			<a class="other" href="#">
				<div class="title_menu_wrapper">
					<p>Others</p>
				</div>
			</a>


		</div>
	</div>
{% endblock %}
